html{
    font-size:24px;
    color:rgb(34, 73, 74);
    margin-left: 40px;
}
header{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 60px;
}
section{
    margin-bottom: 50px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color:cadetblue;
    font-size: 1.25rem;
    margin-bottom: 0.4em;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color:cadetblue;
    font-size: 0.65rem;
    margin-bottom: .1em;
}
p{
    margin-top: 0;
}
.styledFont{
    font-family: 'Raleway', sans-serif;
}
section.font-weight p.Light{
    font-weight:300;
    }
section.font-weight p.Normal{
font-weight:400;
}
section.font-weight p.Medium{
    font-weight:500;
    }
section.font-weight p.Bold{
    font-weight:700;
    }
section.font-style p.Italic{
    font-style: italic;
}
section.letter-spacing p.Loose{
    letter-spacing: .3em;
}
section.letter-spacing p.Tight{
    letter-spacing: -.06em;
}
section.text-decoration p.Underline{
    text-decoration:underline;
}
section.text-decoration p.Line-through{
    text-decoration:line-through;
}
section.text-decoration p.Overline{
    text-decoration:overline;
}
section.text-transform p.Uppercase{
    text-transform: uppercase;
}
section.text-transform p.Lowercase{
    text-transform: lowercase;
}
section.text-transform p.Capitalize{
    text-transform: capitalize;
}